
.Parrafo1{
	font-size : 30;
	color : blue;
	background-color : silver;
	width : 700px; 
	height : 40px;
	border-style: solid;
}
.Parrafo2{
	color : green;
	background-color : silver;
	border-style: solid;
}

.Parrafo3{
	color : red;
	background-color : silver;
	border-style: solid;
}

.Info {
	float : left;
	width : 300px;
	height : 100px;
	background-color : silver;
	border-style: solid;
	
}

.titulo {
	background-color : white;
}

#Imagen {
	margin : auto;
	width : 370px;
	height : 365px;
	background-color : black;
}
#imagen {
	position : center;
	max-width: 100%;
}

#subtitulo {
		height : 30px;
		background-color : silver;
}

P { 
color : gray; 
font-family : verdana;
font-weight : normal;
text-align : left; 
} 


BODY{
background-color : #CCCCFF;
} 
